@font-face {
    font-family: "AA-BebasNeue";
    src: url("../fonts/AA-BebasNeue.ttf");
}
@font-face {
    font-family: "Raleway-ExtraBold";
    src: url("../fonts/Raleway-ExtraBold.ttf")
}

/* Вспомогательные классы */

.container {
    width: 1170px;
    margin: 0 auto;
    font-family: "Raleway-Black", "Times New Roman", sans-serif;
    padding: 1px;
}
.clearfix{
    content: "";
    clear: both;
    display: table;
}

/* header # header-layout */

.header-layout {
    background: #313b46
}
.logo {
    float: left;
    padding: 39px 0;
    padding-left: 47px;
    position: relative;
}
.logo a{
    font-family: "AA-BebasNeue", "Times New Roman", sans-serif;
    font-size: 30px;
    line-height: 22px;
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
}
.logo:before {
    position: absolute;
    left: 0;
    top: 30px;
    content: "";
    width: 40px;
    height: 40px;
    background: url("../img/ico_logo.png");
}
.list {
    float: right;
    width: 590px;
    padding: 0;
    margin: 39px 0;
}
.list li {
    list-style: none;
    display: inline-block;
    padding-left: 45px;
}
.list li:first-child{
    padding-left: 0;
}
.list a {
    font-family: "Raleway-ExtraBold", "Times New Roman", sans-serif;
    font-size: 13px;
    line-height: 22px;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.5s color;
    position: relative;
}
.list a:hover {
    color: #61e8dd;
    border-bottom: 2px solid #61e8dd;
}
.list a:active {
    color: #61e8dd;
    border-bottom: 2px solid #61e8dd;
}

/* promo-layout */

.promo-layout {
    background: #000 url("../img/bg-promo.jpg");
    background-size: cover;
}
.promo {
    padding: 200px 0;
    text-align: center;
}
.promo-title {
    font-family: "Raleway-ExtraBold", "Times New Roman", sans-serif;
    font-size: 35px;
    line-height: 35px;
    color: #f3f3f3;
}
.promo-desc {
    font-size: 28px;
    line-height: 35px;
    color: #ffffff;
}
.promo-btn {
    font-family: "Raleway-ExtraBold", "Times New Roman", sans-serif;
    font-size: 13px;
    line-height: 35px;
    color: #ffffff;
    background: #3f8dbf;
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 21px;
    border-radius: 3px;
}
.promo-btn:hover {
    background: #30749f;
    transition: 0.2s background;
}
.promo-btn:active {
    background: #1d577c;
}
/* main # creative-layout */

.creative-post{
    width: 847px;
    text-align: center;
    margin: 0 auto;
}
.creative-title {
    font-family: "Raleway-ExtraBold", "Times New Roman", sans-serif;
    font-size: 24px;
    line-height: 35px;
    color: #616161;
}
.creative-title span {
    color: #3f8dbf;
}
.creative-desc {
    font-size: 18px;
    line-height: 28px;
    color: #7f7f7f;
}
.creative-gallery {
    position: relative;
    padding-bottom: 50px;
}
.creative-gallery:before {
    position: absolute;
    left: 160px;
    top: 0;
    content: "";
    border-top: 1px solid #dadada;
    width: 850px;
    margin: 0 auto;
}
.creative-gallery div {
    font-family: "Raleway-ExtraBold", "Times New Roman", sans-serif;
    font-size: 14px;
    line-height: 35px;
    color: #bababa;
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
    width: 130px;
    padding-top: 100px;
    padding-left: 150px;
    left: 95px;
}
.creative-gallery span:hover {
    color: #3f8dbf;
    cursor: default;
}
.creative-gallery div:first-child {
    padding-left: 0;
}
.creative-item {
    position: relative;
}
.creative-ideas:before {
    content: "";
    height: 48px;
    width: 44px;
    background: url("../img/sprite-creative.png") -5px -5px;
    position: absolute;
    top: 37px;
    left: 41px;
}
.creative-ideas:after {
    position: absolute;
    content: "";
    width: 9px;
    height: 9px;
    background: #dadada;
    border-radius: 50%;
    left: 60px;
    top: -4px;
}
.rapid-solution:before {
    content: "";
    height: 56px;
    width: 34px;
    background: url("../img/sprite-creative.png") -59px -5px;
    position: absolute;
    top: 37px;
    left: 200px;
}
.rapid-solution:after {
    position: absolute;
    content: "";
    width: 9px;
    height: 9px;
    background: #dadada;
    border-radius: 50%;
    left: 213px;
    top: -4px;
}
.magic-touch:before {
    content: "";
    height: 48px;
    width: 36px;
    background: url("../img/sprite-creative.png") -103px -5px;
    position: absolute;
    top: 37px;
    left: 195px;
}
.magic-touch:after {
    position: absolute;
    content: "";
    width: 9px;
    height: 9px;
    background: #dadada;
    border-radius: 50%;
    left: 208px;
    top: -4px;
}
.award-winning:before {
    content: "";
    height: 48px;
    width: 44px;
    background: url("../img/sprite-creative.png") -5px -63px;
    position: absolute;
    top: 37px;
    left: 190px;
}
.award-winning:after {
    position: absolute;
    content: "";
    width: 9px;
    height: 9px;
    background: #dadada;
    border-radius: 50%;
    left: 205px;
    top: -4px;
}
.creative-gallery div:first-child {
    margin-left: 0;
}

/* services-layout */

.services-layout {
    background: #fbfbfb;
    border-top: 1px solid #e9e9e9;
    padding-bottom: 65px;
}
.services-title {
    font-family: "Raleway-ExtraBold", "Times New Roman", sans-serif;
    font-size: 25px;
    line-height: 35px;
    color: #b6b6b6;
    position: relative;
    text-align: center;
    padding-top: 40px;
}
.services-title:after {
    position: absolute;
    content: "";
    width: 136px;
    height: 1px;
    background: #dadada;
    left: 520px;
    top: 90px;
    z-index: 1;
}
.services-title:before {
    position: absolute;
    content: "";
    width: 36px;
    height: 16px;
    background: #fbfbfb url("../img/ico-service-title.png") no-repeat;
    background-position: 11px;
    left: 570px;
    top: 83px;
    z-index: 2;
}
.service {
    width: 300px;
    min-height: 100px;
    display: inline-block;
    padding-left: 70px;
    margin-left: 26px;
    position: relative;
    margin-top: 10px;
}
.service p {
    margin: 0px;
    padding: 1px;
}
.print-design:before {
    position: absolute;
    content: "";
    width: 48px;
    height: 46px;
    background-position: -5px -64px;
    background: url("../img/sprite-service.png");
    background-repeat: no-repeat;
    left: 0;
    top: 5px;
}
.motion-video:before {
    position: absolute;
    content: "";
    width: 48px;
    height: 48px;
    background-position: -121px -63px;
    background: url("../img/sprite-service.png");
    background-repeat: no-repeat;
    left: 0;
    top: 5px;
}
.package-design:before {
    position: absolute;
    content: "";
    width: 41px;
    height: 48px;
    background-position: -121px -5px;
    background: url("../img/sprite-service.png");
    background-repeat: no-repeat;
    left: 0;
    top: 5px;
}
.sound-eng:before {
    position: absolute;
    content: "";
    width: 48px;
    height: 33px;
    background-position: -63px -64px;
    background: url("../img/sprite-service.png");
    background-repeat: no-repeat;
    left: 0;
    top: 5px;
}
.time-man:before {
    position: absolute;
    content: "";
    width: 48px;
    height: 48px;
    background-position: -5px -5px;
    background: url("../img/sprite-service.png");
    background-repeat: no-repeat;
    left: 0;
    top: 5px;
}
.illustration:before {
    position: absolute;
    content: "";
    width: 48px;
    height: 49px;
    background-position: -63px -5px;
    background: url("../img/sprite-service.png");
    background-repeat: no-repeat;
    left: 0;
    top: 5px;
}
.service-cont div:nth-child(1), 
.service-cont div:nth-child(4n){
    margin-left: 0;
}
.service-title {
    font-family: "Raleway-ExtraBold", "Times New Roman", sans-serif;
    font-size: 14px;
    line-height: 25px;
    text-transform: uppercase;
    color: #606060;
}
.service-desc {
    font-size: 14px;
    line-height: 26px;
    color: #7f7f7f;
}

/* portfolio-layout */

.portfolio-layout {
    background: #2c2c2c;
    padding-bottom: 70px;
    text-align: center;
}
.portfolio-title {
    font-family: "Raleway-ExtraBold", "Times New Roman", sans-serif;
    font-size: 25px;
    line-height: 35px;
    color: #b6b6b6;
    position: relative;
    text-align: center;
    padding-top: 40px;
}
.portfolio-title:after {
    position: absolute;
    content: "";
    width: 136px;
    height: 1px;
    background: #dadada;
    left: 520px;
    top: 90px;
    z-index: 1;
}
.portfolio-title:before {
    position: absolute;
    content: "";
    width: 36px;
    height: 16px;
    background: #2c2c2c url("../img/ico-portfolio-title.png") no-repeat;
    background-position: 11px;
    left: 570px;
    top: 83px;
    z-index: 2;
}
.templates {
    padding-top: 30px;
    padding-bottom: 40px;
}
.template {
    padding-left: 26px;
    display: inline-block;
}
.template:first-child {
    padding-left: 0;
}

.portfolio-btn {
    font-family: "Raleway-ExtraBold", "Times New Roman", sans-serif;
    font-size: 13px;
    line-height: 35px;
    text-transform: uppercase;
    text-decoration: none;
    color: #949494;
    padding: 15px 23px;
    border: 2px solid #9b9b9b;
    border-radius: 5px;
}
.portfolio-btn:hover{
    color: #595959;
    border-color: #595959;
    transition: color 0.3s;
}
.portfolio-btn:active{
    color: #595959;
    border-color: #595959;
}

/* articles-promo */

.articles-title {
    font-family: "Raleway-ExtraBold", "Times New Roman", sans-serif;
    font-size: 25px;
    line-height: 35px;
    color: #b6b6b6;
    position: relative;
    text-align: center;
    padding-top: 40px;
}
.articles-title:after {
    position: absolute;
    content: "";
    width: 136px;
    height: 1px;
    background: #dadada;
    left: 520px;
    top: 90px;
    z-index: 1;
}
.articles-title:before {
    position: absolute;
    content: "";
    width: 36px;
    height: 16px;
    background: #fff url("../img/ico-articles-title.png") no-repeat;
    background-position: 11px;
    left: 570px;
    top: 83px;
    z-index: 2;
}
.article {
    width: 539px;
    min-height: 150px;
    display: inline-block;
    margin-left: 36px;
    margin-top: 50px;
}
.article:nth-child(1), 
.article:nth-child(3n){
    margin-left: 0;
}
.article img{
    float: left;
    margin-top: 20px;
}
.article-cont {
    margin-left: 26px;
    float: left;
    width: 364px;
}
.article-title {
    font-family: "Raleway-ExtraBold", "Times New Roman", sans-serif;
    font-size: 18px;
    line-height: 22px;
    color: #616161;
}
.article-desc {
    font-size: 14px;
    line-height: 24px;
    color: #7f7f7f;
}
.article-continue {
    font-size: 14px;
    line-height: 24px;
    color: #3f8dbf;
    text-decoration: none;
}

/* steps-layout */

.steps-layout {
    background: #fbfbfb;
    padding-bottom: 80px;
}
.steps-title {
    font-family: "Raleway-ExtraBold", "Times New Roman", sans-serif;
    font-size: 25px;
    line-height: 35px;
    color: #b6b6b6;
    position: relative;
    text-align: center;
    padding-top: 40px;
}
.steps-title:after {
    position: absolute;
    content: "";
    width: 136px;
    height: 1px;
    background: #dadada;
    left: 520px;
    top: 90px;
    z-index: 1;
}
.steps-title:before {
    position: absolute;
    content: "";
    width: 36px;
    height: 16px;
    background: #fbfbfb url("../img/ico-service-title.png") no-repeat;
    background-position: 11px;
    left: 570px;
    top: 83px;
    z-index: 2;
}
.steps-cont {
    position: relative;
    margin-top: 80px;
}
.steps-cont:before {
    position: absolute;
    content: "";
    height: 532px;
    width: 1px;
    background: #dadada;
    left: 590px;
    top: 28px;
}
.step {
    width: 235px;
    min-height: 95px;
    padding-top: 70px;
    position: relative;
}
.steps-creative {margin-left: 640px;}
.steps-creative:before {
    position: absolute;
    content: "";
    background: url("../img/sprite-steps.png");
    width: 62px;
    height: 60px;
    background-position: -5px -5px;
    left: 25px;
    top: 0;
}
.steps-creative:after {
    position: absolute;
    content: "";
    width: 75px;
    height: 1px;
    background: #dadada;
    top: 28px;
    left: -50px;
}
.steps-rapid {margin-left: 310px;}
.steps-rapid:before {
    position: absolute;
    content: "";
    background: url("../img/sprite-steps.png");
    width: 60px;
    height: 60px;
    background-position: -5px -75px;
    right: 30px;
    top: 0;
}
.steps-rapid:after {
    position: absolute;
    content: "";
    width: 75px;
    height: 1px;
    background: #dadada;
    top: 28px;
    left: 205px;
}
.steps-magic {margin-left: 640px;}
.steps-magic:before {
    position: absolute;
    content: "";
    background: url("../img/sprite-steps.png");
    width: 60px;
    height: 62px;
    background-position: -77px -5px;
    left: 25px;
    top: 0;
}
.steps-magic:after {
    position: absolute;
    content: "";
    width: 75px;
    height: 1px;
    background: #dadada;
    top: 28px;
    left: -50px;
}
.steps-award {margin-left: 310px;}
.steps-award:before {
    position: absolute;
    content: "";
    background: url("../img/sprite-steps.png");
    width: 60px;
    height: 60px;
    background-position: -75px -77px;
    right: 30px;
    top: 0;
}
.steps-award:after {
    position: absolute;
    content: "";
    width: 75px;
    height: 1px;
    background: #dadada;
    top: 28px;
    left: 205px;
}
.step:nth-child(2n) {text-align: right;}
.step p{
    margin: 0;
}
.step-title {
    font-family: "Raleway-ExtraBold", "Times New Roman", sans-serif;
    font-size: 14px;
    line-height: 35px;
    color: #3f8dbf;
    text-transform: uppercase;
}
.step-desc {
    font-size: 14px;
    line-height: 24px;
    color: #7f7f7f;
}

/* communication-layout */

.communication-layout {
    background:  #000 url("../img/bg-communication.jpg") no-repeat;
    background-size: cover;
    padding-bottom: 60px;
}
.communication-title {
    font-family: "Raleway-ExtraBold", "Times New Roman", sans-serif;
    font-size: 25px;
    line-height: 35px;
    color: #b6b6b6;
    position: relative;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 60px;
}
.communication-title:after {
    position: absolute;
    content: "";
    width: 136px;
    height: 1px;
    background: #dadada;
    left: 520px;
    top: 90px;
    z-index: 1;
}
.communication-title:before {
    position: absolute;
    content: "";
    width: 36px;
    height: 16px;
    background: #2f3135 url("../img/ico-communication-title.png") no-repeat;
    background-position: 11px;
    left: 570px;
    top: 83px;
    z-index: 2;
}
placeholder {
    font-size: 14px;
    line-height: 60px;
}
.form-communication {
    float: left;
    width: 650px;
}
.form-communication input {
    height: 45px;
    width: 625px;
    margin-bottom: 15px;
    padding-left: 15px;
    background: rgba(81, 84, 87, 0.5);
    border: none;
    outline: none;
}
.form-communication input:hover {background: #4a4c4e;}
.form-communication input:focus {background: #4a4c4e;}
.form-communication textarea {
    width: 625px;
    max-width: 625px;
    height: 165px;
    max-height: 165px;
    margin-bottom: 15px;
    padding-left: 15px;
    padding-top: 15px;
    background: rgba(81, 84, 87, 0.5);
    border: none;
    outline: none;
}
.form-communication textarea:hover {background: #4a4c4e;}
.form-communication textarea:focus {background: #4a4c4e;}
.communication-btn {
    font-family: "Raleway-ExtraBold", "Times New Roman", sans-serif;
    font-size: 13px;
    line-height: 35px;
    text-transform: uppercase;
    border: none;
    outline: none;
    background: #3f8dbf;
    padding: 0px 20px;
    border-radius: 5px;
    color: white;
}
.communication-btn:hover {
    background: #30749f;
    transition: 0.2s background;
}
.communication-btn:active {
    background: #1d577c;
}
.contact {
    float: left;
    width: 300px;
    padding-left: 30px;
}
.contact-title {
    font-weight: bold;
    color: white;
}
.contact-desc {
    font-size: 14px;
    line-height: 26px;
    color: #abacac;
}
.contact-address {
    font-size: 14px;
    line-height: 26px;
    color: #abacac;
    padding-left: 20px;
    position: relative;
}
.contact-address:before {
    position: absolute;
    content: "";
    width: 9px;
    height: 13px;
    background: url("../img/sprite-contact.png");
    background-position: -5px -5px;
    left: 0;
    top: 7px;
}
.contact-tel {
    font-size: 14px;
    line-height: 26px;
    color: #abacac;
    padding-left: 20px;
    position: relative;
}
.contact-tel:before {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    background: url("../img/sprite-contact.png");
    background-position: -24px -5px;
    left: 0;
    top: 7px;
}
.contact-mail {
    font-size: 14px;
    line-height: 26px;
    color: #abacac;
    padding-left: 20px;
    position: relative;
}
.contact-mail:before {
    position: absolute;
    content: "";
    width: 12px;
    height: 8px;
    background: url("../img/sprite-contact.png");
    background-position: -24px -25px;
    left: 0;
    top: 10px;
}

/* copyright-layout */

.copyright-layout {
    background: #292929;
}
.copyright {
    font-size: 14px;
    line-height: 26px;
    color: #cacaca;
}